<nav>

    <ul style="display: flex; justify-content: start; list-style: none;">

        <li><a href="/">Home</a>&nbsp;</li>

        <li><a href="/carros">Carros</a>&nbsp;</li>

        <li><a href="/motoristas">Motoristas</a>&nbsp;</li>

        <li><a href="/acessorios">Acessorios</a>&nbsp;</li>

    </ul>

</nav>